@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
    font-family: 'Noto Sans Tamil', sans-serif;
}
  
  .tamil-text {
    font-family: 'Noto Sans Tamil', sans-serif;
  }
  